<h2>De gestaffelde rente in gewaarborgd inkomen</h2>
<p><br></p>
<p>Een gewaarborgd inkomen is een in verhouding dure verzekering. Vaak is de premie een struikelblok voor zelfstandigen
  om deze toch noodzakelijke risicodekking op te starten. Een gestaffelde rente kan het premieprobleem verzachten en
  gelijk ook beter bij de noden en behoeften van de verzekeringsklant passen. Dit artikel analyseert de werking van het
  gestaffeld gewaarborgd inkomen</p>
<p><br></p>
<h3>Waarom een gewaarborgd inkomen?</h3>
<p><br></p>
<p><strong>Wat is arbeidsongeschiktheid?</strong></p>
<p><br></p>
<p>Arbeidsongeschiktheid houdt in dat de getroffene tijdelijk of definitief niet meer kan werken. In beginsel komt een
  verzekering gewaarborgd inkomen dus tussen wanneer het arbeidsinkomen wegvalt, gewoon omdat de verzekerde niet kan
  werken. Wanneer de verzekerde in verminderde mate kan blijven werken, zal de uitkering in de verhouding tot de
  gedeeltelijke arbeidsongeschiktheid worden aangepast. Van zodra de verzekerde terug aan de slag kan, stopt de
  uitkering. Op het verschil tussen economische en fysiologische ongeschiktheid wordt hier niet ingegaan.</p>
<p><br></p>
<p>De standaard polis gewaarborgd inkomen biedt voor zelfstandigen een ruime dekking. Meestal is zowel ziekte als
  (bijna) alle ongevallen gedekt. Het is mogelijk om alleen ziekte voor een zelfstandige te dekken. Een zwangerschap is
  geen ziekte en – althans in principe – ook geen ongeval. Daarom zal bij een zwangerschap, weliswaar zonder
  complicaties, geen uitkering van een verzekering gewaarborgd inkomen worden voorzien.</p>
<p><br></p>
<p>Ziekte of een ongeval vormen voor zelfstandigen en bestuurders van vennootschappen een ernstig risico. De kosten van
  het leven lopen immers verder hoewel het inkomen, al dan niet ten dele, wegvalt. De boutade dat zelfstandigen niet
  ziek worden is overigens onzin. Hoewel in verhouding zelfstandigen inderdaad minder snel arbeidsongeschikt worden,
  kunnen ook zij verplicht worden om tijdelijk of in het ergste geval definitief hun werk neer te leggen. Toch heerst er
  bij zelfstandigen nog steeds een idee van ongenaakbaarheid inzake ziekte en ongevallen, hoewel de cijfers dit
  tegenspreken:</p>
<p><br></p>
<p><br></p>
<p> 2011 | 2012 | 2013 | 2014 | 2015</p>
<p><span class="ql-font-monospace">Zelfstandigen | Mannen | 402 030 | 403 550 | 402 631 | 402 101 | 406 819</span></p>
<p><span class="ql-font-monospace">en | Vrouwen | 184 985 | 187 017 | 188 343 | 190 244 | 194 347 </span></p>
<p><span class="ql-font-monospace">meehelpende | </span></p>
<p><span class="ql-font-monospace">echtgenoten | </span></p>
<p><span class="ql-font-monospace"> | Totaal | 587 015 | 590 567 | 590 974 | 592 345 | 601 166</span></p>
<p><br></p>
<p>Bron : RIZIV – dienst uitkeringen – directie financiën en statistieken</p>
<p><br></p>
<p>Met primaire arbeidsongeschiktheid bedoelt het RIZIV de werkongeschiktheid van korte duur, maximum één jaar. Uit deze
  cijfers blijkt overigens dat vooral in de leeftijdsgroep 45 – 55 de meeste primaire arbeidsongeschiktheden zich
  voordoen. In 2015 waren er dus 601 166 zelfstandigen die tijdelijk arbeidsongeschikt waren, alvast een indrukwekkend
  cijfer waarmee twijfelaars over het nut van een gewaarborgd inkomen kunnen worden overtuigd. Ter vergelijking, in 2015
  waren er 3 770 762 werknemers die in primaire arbeidsongeschiktheid waren.</p>
<p><br></p>
<p><br></p>
