<h2 class="txt-align-left"><strong>
        <h3><span style="color: #0070c0;">Status aanvraag nummerplaat?</span></h3>
    </strong></h2>
<p>Volg de verwerking van uw aanvraag via deze <a
        href="https://mobilit.belgium.be/nl/wegverkeer/inschrijving_van_voertuigen/kentekenplaten"
        target="_blank">link</a><span style="text-decoration: underline;">.</span></p>
<h2 class="txt-align-left"><strong>
        <h3><span style="color: #0070c0;">Schadeattest?</span></h3>
    </strong></h2>
<p>Volgens de wetgeving zijn verzekeraars verplicht om een schadeattest af te leveren op uw verzoek.<br />
    Alle schadeattesten van de laatste 5 jaar zijn gecentraliseerd bij Carattest.<br />
    Enkel jij als titularis van een contract kan zulke schadeattesten opvragen.<br />
    <br />
    Je doet dit via:
    <a href="https://www.carattest.be/" target="_blank"><span
            style="text-decoration: underline; color: #0066cc;">www.carattest.be<br />
        </span></a><br />
    Houd uw elektronische identiteitskaart en pincode bij de hand</p>