<div *ngIf="form">
  <!-- PAGE HEADER -->
  <header id="page-header">
    <div class="container">
      <div class="row mt-3">
        <div class="col-md-6 m-auto text-center">
          <h2>{{ mailSubject }}</h2>
        </div>
      </div>
      <!-- <button class="btn btn-success" (click)="refreshTemplateBody()">Test</button> -->
    </div>
  </header>

  <!-- MAILFORM SECTION -->
  <section id="contact" class="py-3">
    <div class="container">
      <div class="card p-4">
        <div class="card card-body mb-3">
          <div>
            <p>
              <button type="button" class="btn btn-primary btn-sm" (click)="enableTabs()">
                Enable tabs
              </button>
              <button type="button" class="btn btn-primary btn-sm" (click)="disableTabs()">
                Disable tabs
              </button>
            </p>
            <tabset #staticTabs>
              <tab heading="1. Kies">
                <div *ngFor="let alert of alerts">
                  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
                    {{ alert.msg }}</alert>
                </div>
                <form [formGroup]="offerForm">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <select class="form-control" (change)="onChange($event)">
                          <option selected [ngValue]="null" disabled>Maak uw keuze</option>
                          <option *ngFor="let item of offerOptions" [ngValue]="item">
                            {{ item.option }}
                          </option>
                        </select>
                        <div *ngIf="offerForm.invalid && offerForm.controls['optionChoise'].touched">
                          <label style="color:red">Aantal en identiteit der verzekerden a.u.b.</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="choiseMade">
                    <div class="row">
                      <div class="col-md-6">
                        <vsoft-nx-text-input formControlName="person1" label="Verzekerde1"
                          warningMessage="{{ 'COMMON.IsRequired' | translate }}">
                        </vsoft-nx-text-input>
                      </div>
                      <div class="col-md-6">
                        <vsoft-nx-text-input formControlName="birthDay1" type="date" label="Geboortedatum1"
                          warningMessage="{{ 'COMMON.IsRequired' | translate }}">
                        </vsoft-nx-text-input>
                        <!-- <input class="form-control" #datepickerDMY="bsDatepicker" bsDatepicker formControlName="birthDay1"
                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-default' }"> -->
                        <!-- <vsoft-nx-date-input formControlName="birthDay1" label="Geboortedatum"
                          warningMessage="{{ 'COMMON.IsRequired' | translate }}">
                        </vsoft-nx-date-input> -->
                      </div>
                    </div>

                    <div *ngIf="!hidePerson2">
                      <div class="row">
                        <div class="col-md-6">
                          <vsoft-nx-text-input formControlName="person2" label="Verzekerde2"
                            warningMessage="{{ 'COMMON.IsRequired' | translate }}">
                          </vsoft-nx-text-input>
                        </div>
                        <div class="col-md-6">
                          <vsoft-nx-text-input formControlName="birthDay2" type="date" label="Geboortedatum2"
                            warningMessage="{{ 'COMMON.IsRequired' | translate }}">
                          </vsoft-nx-text-input>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="!hidePerson3">
                      <div class="row">
                        <div class="col-md-6">
                          <vsoft-nx-text-input formControlName="person3" label="Verzekerde3"
                            warningMessage="{{ 'COMMON.IsRequired' | translate }}">
                          </vsoft-nx-text-input>
                        </div>

                        <div class="col-md-6">
                          <vsoft-nx-text-input formControlName="birthDay3" type="date" label="Geboortedatum3"
                            warningMessage="{{ 'COMMON.IsRequired' | translate }}">
                          </vsoft-nx-text-input>
                        </div>
                      </div>
                    </div>

                  </div>
                </form>
              </tab>

              <tab heading="2. Betaal">
                <div *ngFor="let alert of alerts">
                  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
                    {{ alert.msg }}</alert>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <pre class="card card-block card-header">
                    <ngx-qrcode [elementType]="qrElementType" [value]="qrValue" cssClass="aclass" errorCorrectionLevel="L">
                    </ngx-qrcode>
                  </pre>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <pre class="card card-block card-header">
                        <strong>Overschrijven of scan de QR Code</strong>
                        <strong> </strong>
                        <strong>Bedrag: {{ qrAmountValue }}</strong>
                        <strong>Naar: BE83891854037015</strong>
                        <strong>Op naam van: Roelandt en Vermoesen bv</strong>
                        <strong>Betaalreferte: {{ qrReferenceValue }}</strong>
                      </pre>
                    </div>
                  </div>
                </div>
              </tab>

              <tab heading="3. Voltooi">
                <div *ngFor="let alert of alerts">
                  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
                    {{ alert.msg }}</alert>
                </div>
                <form [formGroup]="form" (ngSubmit)="submitGadgetMail()">
                  <div class="row">
                    <div class="col-md-6">
                      <vsoft-nx-text-input formControlName="name"
                        label="{{ 'CONTACT.MessageNameLabel' | translate }} verzekeringsnemer"
                        warningMessage="{{ 'COMMON.IsRequired' | translate }}">
                      </vsoft-nx-text-input>
                    </div>

                    <div class="col-md-6">
                      <vsoft-nx-text-input formControlName="email" label="{{ 'CONTACT.MessageMailLabel' | translate }}"
                        warningMessage="{{ 'COMMON.InvalidEmail' | translate }}">
                      </vsoft-nx-text-input>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div *ngIf="!busy">
                          <button type="submit" [disabled]="!(offerForm.valid && form.valid)"
                            class="btn btn-primary btn-block">{{
                            'CONTACT.MessageSendLabel' | translate }}</button>
                        </div>
                        <div *ngIf="busy">
                          <button type="submit" disabled class="btn btn-primary btn-block">Bezig...</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </tab>

              <tab heading="Info">
                <div *ngFor="let alert of alerts">
                  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
                    {{ alert.msg }}</alert>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="card text-center border-primary mb-resp">
                      <a href="https://docs.vsoft.be/pdf/insurance/offers/ea/medical/GA11.pdf" target="_blank"
                        class="nav-link">IPID</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card text-center border-primary mb-resp">
                      <a href="https://docs.vsoft.be/pdf/insurance/offers/ea/medical/medicall-nl.pdf" target="_blank"
                        class="nav-link">Product Fiche</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card text-center border-primary mb-resp">
                      <a href="https://docs.vsoft.be/pdf/insurance/offers/ea/medical/general-conditions.pdf"
                        target="_blank" class="nav-link">Algemene Voorwaarden</a>
                    </div>
                  </div>
                </div>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <div>
    <p>Tabs can be enabled or disabled by changing <code>disabled</code> input property</p>
    <p>
      <button type="button" class="btn btn-primary btn-sm" (click)="disableEnable()">
        Enable / Disable third tab
      </button>
    </p>
    <hr />
    <tabset #staticTabs>
      <tab heading="Static title">Static content</tab>
      <tab heading="Static Title 1">Static content 1</tab>
      <tab heading="Static Title 2">Static content 2</tab>
      <tab heading="Static Title 3">Static content 3</tab>
    </tabset>
  </div> -->
</div>
