<div *ngIf="form">
  <!-- PAGE HEADER -->
  <header id="page-header">
    <div class="container">
      <div class="row mt-3">
        <div class="col-md-6 m-auto text-center">
          <h2>{{ mailSubject }}</h2>
        </div>
      </div>
      <!-- <button class="btn btn-success" (click)="refreshTemplateBody()">Test</button> -->
    </div>
  </header>

  <!-- MAILFORM SECTION -->
  <section id="contact" class="py-3">
    <div class="container">
      <div class="card p-4">
        <div class="card card-body mb-3">
          <div>
            <tabset #staticTabs>
              <tab heading="Info">
                <div *ngFor="let alert of alerts">
                  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
                    {{ alert.msg }}</alert>
                </div>

              </tab>

              <tab heading="1. Kies">
                <div *ngFor="let alert of alerts">
                  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
                    {{ alert.msg }}</alert>
                </div>
                <form [formGroup]="offerForm">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <select formControlName="optionChoise" class="form-control" (change)="onChange($event)">
                          <option selected [ngValue]="null" disabled>Maak uw keuze</option>
                          <option *ngFor="let item of offerOptions" [ngValue]="item">
                            {{ item.option }}
                          </option>
                        </select>
                        <div *ngIf="offerForm.invalid && offerForm.controls['optionChoise'].touched">
                          <label style="color:red">Aantal en identiteit der verzekerden a.u.b.</label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="choiseMade">
                    <div class="row">
                      <div class="col-md-6">
                        <vsoft-nx-text-input formControlName="person1" label="Verzekerde1"
                          warningMessage="{{ 'COMMON.IsRequired' | translate }}">
                        </vsoft-nx-text-input>
                      </div>
                      <div class="col-md-6">
                        <vsoft-nx-text-input formControlName="birthday1" label="Geboortedatum1 dd/mm/jjjj"
                          warningMessage="{{ 'COMMON.IsRequired' | translate }}">
                        </vsoft-nx-text-input>
                      </div>
                    </div>

                    <div *ngIf="!hidePerson2">
                      <div class="row">
                        <div class="col-md-6">
                          <vsoft-nx-text-input formControlName="person2" label="Verzekerde2"
                          warningMessage="{{ 'COMMON.IsRequired' | translate }}">
                          </vsoft-nx-text-input>
                        </div>
                        <div class="col-md-6">
                          <vsoft-nx-text-input formControlName="birthday2" label="Geboortedatum2 dd/mm/jjjj"
                          warningMessage="{{ 'COMMON.IsRequired' | translate }}">
                          </vsoft-nx-text-input>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="!hidePerson3">
                      <div class="row">
                        <div class="col-md-6">
                          <vsoft-nx-text-input formControlName="person3" label="Verzekerde3"
                          warningMessage="{{ 'COMMON.IsRequired' | translate }}">
                          </vsoft-nx-text-input>
                        </div>

                        <div class="col-md-6">
                          <vsoft-nx-text-input formControlName="birthday3" label="Geboortedatum3 dd/mm/jjjj"
                          warningMessage="{{ 'COMMON.IsRequired' | translate }}">
                          </vsoft-nx-text-input>
                        </div>
                      </div>
                    </div>

                  </div>
                </form>
              </tab>

              <tab heading="2. Betaal">
                <div *ngFor="let alert of alerts">
                  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
                    {{ alert.msg }}</alert>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <pre class="card card-block card-header">
                    <ngx-qrcode [elementType]="qrElementType" [value]="qrValue" cssClass="aclass" errorCorrectionLevel="L">
                    </ngx-qrcode>
                  </pre>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="form-group">
                      <pre class="card card-block card-header">
                        <strong>Overschrijven of scan de QR Code</strong>
                        <strong> </strong>
                        <strong>Bedrag: {{ qrAmountValue }}</strong>
                        <strong>Naar: BE83891854037015</strong>
                        <strong>Op naam van: Roelandt en Vermoesen bv</strong>
                        <strong>Betaalreferte: {{ qrReferenceValue }}</strong>
                      </pre>
                    </div>
                  </div>
                </div>
              </tab>

              <tab heading="3. Voltooi">
                <div *ngFor="let alert of alerts">
                  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
                    {{ alert.msg }}</alert>
                </div>
                <form [formGroup]="form" (ngSubmit)="submitGadgetMail()">
                  <div class="row">
                    <div class="col-md-6">
                      <vsoft-nx-text-input formControlName="name"
                        label="{{ 'CONTACT.MessageNameLabel' | translate }} verzekeringsnemer"
                        warningMessage="{{ 'COMMON.IsRequired' | translate }}">
                      </vsoft-nx-text-input>
                    </div>

                    <div class="col-md-6">
                      <vsoft-nx-text-input formControlName="email" label="{{ 'CONTACT.MessageMailLabel' | translate }}"
                        warningMessage="{{ 'COMMON.InvalidEmail' | translate }}">
                      </vsoft-nx-text-input>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div *ngIf="!busy">
                          <button type="submit" [disabled]="!(offerForm.valid && form.valid)"
                            class="btn btn-primary btn-block">{{
                            'CONTACT.MessageSendLabel' | translate }}</button>
                        </div>
                        <div *ngIf="busy">
                          <button type="submit" disabled class="btn btn-primary btn-block">Bezig...</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
