<p>Beste .{name},</p>
<p>Wij hebben de gegevens te verzekeren personen goed ontvangen.</p>
<p>U koos voor de formule: <strong>.{option}</strong></p>
<small>
  <ul>
    <li>1 = Eén verzekerde (€36.75)</li>
    <li>2 = Twee verzekerden (€51.75)</li>
    <li>3 = Drie tot acht verzekerden (€74.25)</li>
  </ul>
</small>
<p><strong>Naam en geboortedatum verzekerden:</strong></p>
<ul>
  <li><strong>.{person1}</strong> .{birthDay1}</li>
  <li><strong>.{person2}</strong> .{birthDay2}</li>
  <li><strong>.{person3}</strong> .{birthDay3}</li>
</ul>

<p>Indien U betaalde met de QR Code voor 18:00u. ontvangt U vandaag nog uw polis.</p>
<p>
  U kan uiteraard ook manueel overschrijven naar onze rekening:<br>
<ul>
  <li>Bedrag EUR: <strong>.{qrAmountValue}</strong></li>
  <li>Rekening: <strong>BE83891854037015</strong></li>
  <li>Op naam: <strong>Roelandt en Vermoesen bv</strong></li>
  <li>Referte: <strong>.{qrReferenceValue}</strong></li>
</ul>
Na controle van uw betaling, bezorgen wij U de polis.
</p>
<p>Vriendelijke groet!</p>
<p>Jos Vermoesen | Roelandt &amp; Vermoesen bv</p>
