<p>Beste .{name},</p>
<p>Wij hebben de gegevens te verzekeren personen goed ontvangen.</p>
<p>U koos voor de formule <strong>.{eaMedicallType}</strong></p>
<small>
  <ul>
    <li>1 = Eén verzekerde (€36.75)</li>
    <li>2 = Twee verzekerden (€51.75)</li>
    <li>3 = Drie tot acht verzekerden (€74.25)</li>
  </ul>
</small>
<p><strong>Naam en geboortedatum verzekerden:</strong></p>
<ul>
  <li><strong>.{eaMedicallFirstName1}</strong> .{eaMedicallBirthDate1}</li>
  <li><strong>.{eaMedicallFirstName2}</strong> .{eaMedicallBirthDate2}</li>
  <li><strong>.{eaMedicallFirstName3}</strong> .{eaMedicallBirthDate3}</li>
</ul>

<p>Indien U betaalde met de QR Code voor 18:00u. ontvangt U vandaag nog uw polis.</p>
<p>
  U kan uiteraard ook manueel overschrijven naar onze rekening:<br>
<ul>
  <li>Bedrag EUR: <strong>.{qrAmountValue}</strong></li>
  <li>Rekening: <strong>BE83891854037015</strong></li>
  <li>Op naam: <strong>Roelandt en Vermoesen bv</strong></li>
  <li>Referte: <strong>.{qrReferenceValue}</strong></li>
</ul>
Na ontvangst van uw betaling, maken wij uw polis onmiddellijk op.
</p>
<p>Vriendelijke groet!</p>
<p>Jos Vermoesen | Roelandt &amp; Vermoesen bv</p>
