<p>Beste .{name},</p>
<p>Wij hebben uw opgave geschenkjes goed ontvangen.</p>
<p><strong>Uw keuze:</strong></p>
<ul>
    <li><strong>.{g102}</strong> grote hangkalender 2021 (sinds 1980)</li>
    <li><strong>.{g103}</strong> Druivelaer scheurkalender 2021</li>
    <li><strong>.{g104}</strong> Brepols zak-agenda 2021</li>
    <li><strong>.{g105}</strong> Brepols bureau-agenda 2021</li>
</ul>
<p>Eens alles beschikbaar, geven we een seintje.</p>
<p>Vriendelijke groet!</p>
<p>Jos Vermoesen | Roelandt &amp; Vermoesen bv</p>