<p>Beste klant(en),</p>
<br>
<p>Zoals elk jaar, graag nazicht van informatie fiche hieronder. Verzendwijze documenten en voorkeur
  eindejaarsgeschenkjes
  kan U zelf online doorgeven.
</p>
<p style="margin-bottom:1em;font-size:16px;color:#333333;line-height:1.5em;font-family:Helvetica, Arial, sans-serif">​<a
    href="https://rv.be/#/gadgets/" target="_blank"
    style="text-decoration:none;border-bottom:1px dotted #0875c1;color:#0875c1">Volg de link om deze te wijzigen</a>​
</p>

<br>
<p>Indien contactgegevens en adressen gewijzigd moeten worden, graag via mail.</p>
<br>
<h4>Info in ons bezit (wijzig indien nodig)</h4>
<p>Voorkeur verzending documenten: <strong>.{g101}</strong></p>
<small>
  <ul>
    <li>2 = In mail (alle documenten naar aangeduid mailadres: PUSH</li>
    <li>1 = Online (mail uitnodiging om documenten online te raadplegen: PULL</li>
    <li>0 = Uitsluitend via post</li>
  </ul>
</small>
<br>

<h4>Uw keuze eindejaar 2020</h4>
<ul>
  <li><strong>.{g102}</strong> grote hangkalender 2021 (sinds 1980)</li>
  <li><strong>.{g103}</strong> Druivelaer scheurkalender 2021</li>
  <li><strong>.{g104}</strong> Brepols zak-agenda 2021</li>
  <li><strong>.{g105}</strong> Brepols bureau-agenda 2021</li>
</ul><br>

<h4>Eerste aanspreking, naam en voornaam (of naam onderneming)</h4>
<p><strong>.{a100} .{a101}</strong></p>
<p>Rijksregister (of ondernemingsnummer): <strong>.{v301} .{a161}</strong></p>
<p>Gsm Nummer: <strong>.{v226}</strong></p>
<p>E-mail: <strong>.{v224}</strong></p>
<br>
<h4>Tweede aanspreking</h4>
<p>Naam en voornaam: <strong>.{a125} .{a127}</strong></p>
<p>Rijksregister: <strong>.{v302}</strong></p>
<p>Gsm Nummer: <strong>.{v244}</strong></p>
<p>E-mail: <strong>.{v002}</strong></p>
<br>
<p>Vaste telefoon: <strong>.{a10a}</strong></p>
<br>
<p>Wat de eindejaarsgeschenkjes betreft: eens deze beschikbaar, nemen we zelf contact op.</p>
<br>
<p>Vriendelijke groet!</p>
<p>Jos Vermoesen | Roelandt &amp; Vermoesen bv</p>
