<p-tabView (onChange)="handleChange($event)">
  <p-tabPanel leftIcon="pi pi-step-backward">
    <i class="pi pi-spin pi-spinner" style="font-size: 3em"></i>
  </p-tabPanel>

  <p-tabPanel header="{{ 'ACCOUNTS.editTab1' | translate }}" [selected]="true">
    <div class="p-grid">
      <div class="p-col-12 p-md-6 p-lg-3">
        <p-listbox (onClick)="openModal(selectedDef)" class="p-g p-fluid" [listStyle]="{'max-height':'400px'}"
          [options]="selectedDefs" [(ngModel)]="selectedDef" filter="filter" optionLabel="description">
          <p-header>
            <div *ngIf="primeSpinner">
              <i class="pi pi-spin pi-spinner" style="font-size: 3em"></i>
            </div>
            <div *ngIf="!primeSpinner">
              <div *ngIf="isEdited">
                <button pButton icon="pi pi-save" type="button" (click)="updateRecord()"
                  class="p-button-rounded p-button-danger"></button>
              </div>
            </div>
          </p-header>
        </p-listbox>
      </div>

      <div class="p-col-12 p-md-6 p-lg-3">
        <pre class="card card-block card-header">{{ selectedDefsData | json }}</pre>
      </div>
    </div>

  </p-tabPanel>
  <p-tabPanel header="{{ 'ACCOUNTS.editTab2' | translate }}">
    <vsoft-nx-ledgeraccountsetup></vsoft-nx-ledgeraccountsetup>
  </p-tabPanel>
</p-tabView>
