<br>
<div class="p-fluid">
    <div class="p-grid p-justify-center">
        <div class="p-col-6">
            <div class="box">
                <p-card header="{{ 'ZMENU.title' | translate }}">
                    <div>{{ 'ZMENU.message' | translate }}</div>
                    <p-footer>
                        <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="showPdfTester()" class="p-button-warning"></button>
                    </p-footer>
                </p-card>

            </div>
        </div>
    </div>
</div>
