<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <!-- <nav class="navbar navbar-expand-sm bg-dark"> -->
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      <fa-icon class="fa-1x" [icon]="faHome"></fa-icon>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <fa-icon class="fa-1x mb-2" [icon]="faBars"></fa-icon>
      <span class=""></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a routerLink="/dashboard" data-toggle="collapse" data-target=".navbar-collapse.show"
            class="nav-link">{{ 'NAVBAR.NavDashBoard' | translate }}</a>
        </li>

        <li class="nav-item">
          <a routerLink="/contact" data-toggle="collapse" data-target=".navbar-collapse.show"
            class="nav-link">{{ 'NAVBAR.NavContact' | translate }}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://portfolio.rv.be" target="_blank">Mijn Portfolio
            <fa-icon class="fa-1x" [icon]="faHandSpock"></fa-icon>
          </a>
        </li>

        <!-- <li class="nav-item">
          <a routerLink="/editor" data-toggle="collapse" data-target=".navbar-collapse.show"
            class="nav-link">Editor</a>
        </li> -->

        <!-- <li class="nav-item">
          <a routerLink="/gadgets" data-toggle="collapse" data-target=".navbar-collapse.show"
            class="nav-link">Gadgets</a>
        </li> -->

        <!-- <a class="btn btn-primary" type="button"
          href="https://secure.brokertools.be/beleggersprofiel/?partnerid=0d6a6d64fc6jfze512e512d1s21g1879f5d5"
          target="_blank">Beleggersprofiel</a> -->
        <br><br>

        <!-- <li class="nav-item">
          <a routerLink="/ins-investment" data-toggle="collapse" data-target=".navbar-collapse.show"
            class="nav-link">Beleggen</a>
        </li> -->

        <!-- <li class="nav-item">
          <a routerLink="/ins-legal" data-toggle="collapse" data-target=".navbar-collapse.show"
            class="nav-link">Recht</a>
        </li> -->

        <!-- <li class="nav-item">
          <a routerLink="/ins-care" data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-link">Zorg</a>
        </li> -->

        <!-- <li class="nav-item">
          <a routerLink="/ins-fire" data-toggle="collapse" data-target=".navbar-collapse.show"
            class="nav-link">Brand</a>
        </li> -->

        <!-- <li class="nav-item">
          <a routerLink="/ins-liability" data-toggle="collapse" data-target=".navbar-collapse.show"
            class="nav-link">Aansprakelijkheid</a>
        </li> -->

        <!-- <li class="nav-item">
          <a routerLink="/ins-car" data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-link">Auto</a>
        </li> -->

        <!-- <li class="nav-item">
          <a routerLink="/ins-assistance" data-toggle="collapse" data-target=".navbar-collapse.show"
            class="nav-link">Bijstand</a>
        </li> -->

        <!-- <li class="nav-item">
          <a routerLink="/steppertest" data-toggle="collapse" data-target=".navbar-collapse.show"
            class="nav-link">Stepper</a>
        </li> -->

        <!-- <li class="nav-item">
          <a routerLink="/about" data-toggle="collapse" data-target=".navbar-collapse.show"
            class="nav-link">{{ 'NAVBAR.NavAbout' | translate }}</a>
        </li> -->

        <!-- <li class="nav-item">
          <a class="nav-link" (click)="onLanguageModal()">Taalkeuze
            <fa-icon class="fa-1x" [icon]="faGlobe"></fa-icon>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
